# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# .gitattributes in project root
# npm now seems to be insisting on LF - see https://github.com/npm/npm/issues/17161
package.json      text eol=lf
package-lock.json text eol=lf
