; We use Dependabot to update our packages, so we want to add without a prefix
save-exact=true
; We download from a private feed during the release process
registry=https://pkgs.dev.azure.com/powershell/PowerShell/_packaging/powershell/npm/registry/ 
always-auth=true
