; We generally want to save install/update commands
save=true
; We use a public Azure Artifacts mirror
registry=https://pkgs.dev.azure.com/powershell/PowerShell/_packaging/powershell/npm/registry/
always-auth=true
; But we don't want references to it in the lockfile
omit-lockfile-registry-resolved=true
