language: cpp

git:
  depth: 1000

os:
  - linux
  - osx
sudo: required
dist: trusty
osx_image: xcode8.3

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      nvm install v6.0.0
      sudo apt-get install libunwind8
    fi
install:
  - git clone https://github.com/PowerShell/PowerShellEditorServices.git ../PowerShellEditorServices
  - pushd build
  - bash <(curl -s https://raw.githubusercontent.com/PowerShell/PowerShell/master/tools/install-powershell.sh)
  - popd

script:
  - ulimit -n 4096
  - pwsh -File build/travis.ps1
