.vscode/**
typings/**
**/*.ts
.gitignore
tsconfig.json
build/**
bin/EditorServices.log
bin/DebugAdapter.log
bin/*.vshost.*
node_modules/.bin/**
node_modules/amdefine/**
node_modules/balanced-match/**
node_modules/brace-expansion/**
node_modules/commander/**
node_modules/concat-map/**
node_modules/debug/**
node_modules/diff/**
node_modules/escape-string-regexp/**
node_modules/glob/**
node_modules/graceful-fs/**
node_modules/growl/**
node_modules/inflight/**
node_modules/inherits/**
node_modules/jade/**
node_modules/lru-cache/**
node_modules/minimatch/**
node_modules/minimist/**
node_modules/mkdirp/**
node_modules/mocha/**
node_modules/ms/**
node_modules/once/**
node_modules/path-is-absolute/**
node_modules/sigmund/**
node_modules/source-map/**
node_modules/source-map-support/**
node_modules/supports-color/**
node_modules/typescript/**
node_modules/vscode/**
node_modules/wrappy/**