.github/
.poshchan/
.vscode/
.vscode-test/
.vsts-ci/
logs/
node_modules/
out/
scripts/
sessions/
src/
test/
tools/

!out/main.js

.editorconfig
.eslintrc.json
.gitattributes
.gitignore
.markdownlint.json
.vscodeignore
build.ps1
extension-dev.code-workspace
*.vsix
test-results.xml
tsconfig.json
vscode-powershell.build.ps1
