name: PR-$(System.PullRequest.PullRequestNumber)-$(Date:yyyyMMdd)$(Rev:.rr)

variables:
  # Don't download unneeded packages
  - name: DOTNET_SKIP_FIRST_TIME_EXPERIENCE
    value: 'true'
  # Improve performance by not sending telemetry
  - name: DOTNET_CLI_TELEMETRY_OPTOUT
    value: 'true'

  - name: BLAH
    value: $(PS_TEST_GITHUB_API_PAT)

trigger:
  batch: true
  branches:
    include:
      - master
      - legacy/1.x
  paths:
    exclude:
      - /.dependabot/*
      - /.poshchan/*
      - /.github/**/*
      - /.vscode/**/*
      - /.vsts-ci/misc-analysis.yml
      - /tools/**/*
      - .editorconfig
      - .gitattributes
      - .gitignore
      - /docs/**/*
      - /CHANGELOG.md
      - /CONTRIBUTING.md
      - /README.md
      - /LICENSE
      - /CODE_OF_CONDUCT.md

jobs:
- job: Windows
  pool:
    vmImage: 'VS2017-Win2016'
  steps:
  - template: templates/ci-general.yml

- job: macOS
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - pwsh: |
      Get-ChildItem -Path env:
      Write-Host '$(BLAH) this is something'
    displayName: Capture environment
    condition: succeededOrFailed()
  - template: templates/ci-general.yml

- job: Linux
  pool:
    vmImage: 'Ubuntu-16.04'
  steps:
  - template: templates/ci-general.yml
